
#myname {
	 text-align: center; font-size: 200%;
}
#name {
	color:red;
}
#student {
	text-align: right; font-size: 120%;
}
#grouptag {
	text-align: right; font-size: 120%; color:red ;
}
#link {
	font-size: 120%;
}
#line {
	border-bottom: 1px solid gray; 
}
p {
	font-size: 100%;
}
#picture { 
	text-align: center;
}